.logo-container{
	text-align:center;
    background-image: url('Aamun logo.png'); 
            background-size: cover; 
        }
	
}
body {
            background-color: black; 
        }

       